.field_area .single_field  {
 display:flex;
 flex-direction: column;
 padding-top: 1em;
}

.field_area .single_field label {

    padding-bottom: 0.2em;
}

.field_area .form__field {
    width: calc((1000px/2) - 100px);
}

.field_area {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
    flex-wrap: wrap; 
}

.u_managment__form h3 {
    text-align: center;
    padding: 1em 0 0.5em 0;
}
.form_field_app {
    display: flex;
    flex-direction:column;
}

.app_field {
    margin-bottom: 1em;
    font-weight: 600;
}

.form_field_app {
    line-height: 1.5em;
}

.form_field_app label {
    text-transform: capitalize;
    margin-left: 1em;
}