{% extends 'layout.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="boxed">
        <h2>S'identifier</h2>

        <form action="" method="POST">
            {% if errors is defined %}
                {% for error in errors  %}
                <div class="alert alert-warning">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <input class="form__field" type="text" name="identifier" id="identifier" placeholder="Numéro de matricule" />
            <input class="form__field" type="password" name="password" id="password" placeholder="Mot de passe" />

            <button class="btn" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
