{% extends 'layout.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="boxed">
        <h2>S'identifier</h2>

        <form action="" method="POST">
            {% if errors is defined %}
                {% for error in errors  %}
                <div class="alert alert-warning">
                    <p>{{ error }}</p>
                </div>
                {% endfor %}
            {% endif %}

            <input class="form__field" type="text" name="identifier" id="identifier" placeholder="Numéro de matricule" />
            <input class="form__field" type="password" name="password" id="password" placeholder="Mot de passe" />

            <button class="btn" type="submit">Se connecter</button>
        </form>


    </div>

    {% if getConfig('env') is same as 'dev' %}
        <div class="boxed">
            <h2>Développement</h2>

            <p>
                Bonjour développeur, bienvenue dans AfpaConnect.<br/>
                Voici quelques astuces pratiques durant la phase de développement.
            </p>
            <br/>

            <p><a class="btn" href="https://gitlab.com/afpaconnect/AfpaConnect/-/wikis/home" target="_blank">Documentation</a></p>
            <br/>

            <p>
                Nom d'utilisateur: 123456789<br/>
                Mot de passe: test
            </p>
        </div>
    {% endif %}
{% endblock %}
