{% extends 'layout.html.twig' %}

{% block title %}
    Récapitulatif - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- MAIN: Start -->
    <main class="main boxed">
        <h2>Récapitulatif des utilisateurs</h2>

        <!-- BUTTONS: End -->

        <!-- TABLE: Start -->
        <table id="user_list" class="display"></table>
        <!-- TABLE: End -->
    </main>
    <!-- MAIN: End -->

    <aside class="u_managment boxed">
        <h2 class="u_managment__title">Editer utilisateur</h2>

        <form id="user_edit_form" class="u_managment__form">

            <h3>Informations principales</h3>
            
            
            <div class="field_area"> 

                <div class="single_field"> 
                <label for="uid"> ID </label>
                <input class="form__field" type="text" name="uid" id="uid" placeholder="ID AC" disabled="true" />
                </div>

                <div class="single_field"> 
                <label for="beneficiary"> N° de bénéficiaire </label>
                <input class="form__field" type="text" name="beneficiary" id="beneficiary" placeholder="Numéro de bénéficiaire" />
                </div>

                <div class="single_field"> 
                <label for="lastname"> Nom </label>
                <input class="form__field" type="text" name="lastname" id="lastname" placeholder="Nom" />
                </div>

                <div class="single_field"> 
                <label for="firstname"> Prénom </label>
                <input class="form__field" type="text" name="firstname" id="firstname" placeholder="Prénom" />
                </div>

                <div class="single_field"> 
                <label for="adress"> Adresse </label>
                <input class="form__field" name="address" id="address" placeholder="Adresse"/>
                </div>

                <div class="single_field"> 
                <label for="complementAddress"> Complément d'adresse </label>
                <input class="form__field" name="complementAddress" id="complementAddress" placeholder="Complément d'adresse"/>
                </div>

                <div class="single_field"> 
                <label for="zip"> Code Postal </label>
                <input class="form__field" name="zip" id="zip" placeholder="Code Postal"/>
                </div>

                <div class="single_field"> 
                <label for="city"> Ville </label>
                <input class="form__field" name="city" id="city" placeholder="Ville"/>
                </div>

                <div class="single_field"> 
                <label for="country"> Pays </label>
                <input class="form__field" name="country" id="country" placeholder="Pays"/>
                </div>

                <div class="single_field"> 
                <label for="gender"> Genre </label>           
                    <select class="form__field" name="gender" id="gender" placeholder="Genre">
                        <option value="1">Homme</option>
                        <option value="2">Femme</option>
                        <option value="3">Autre</option>
                    </select>
                </div>

                <div class="single_field"> 
                <label for="email"> Adresse e-mail </label>
                    <input class="form__field" type="email" name="email" id="email" placeholder="Adresse mail" />
                </div>

                <div class="single_field"> 
                <label for="phone"> Téléphone </label>
                    <input class="form__field" type="tel" name="phone" id="phone" placeholder="Numéro de téléphone" />
                </div>

                <div class="single_field"> 
                <label for="center"> Centre de formation </label>
                    <select class="form__field" name="center" id="center" placeholder="Centre de formation"></select>
                </div>

                <div class="single_field"> 
                <label for="financial"> Financeur </label>
                    <select class="form__field" name="financial" id="financial" placeholder="Financeur"></select>
                </div> 

          </div>

            <hr>
            
                <h3>Droits sur les applications</h3>

           <div id="app_roles" class="field_area">
            </div>

            <button class="form__submit btn" type="submit">Éditer l'utilisateur</button>
        </form>
    </aside>
{% endblock %}