{% extends 'layout.html.twig' %}

{% block title %}
    Ajout utilisateurs - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- MAIN: Start -->
    <main class="main boxed">
        <h2>Téléversement des utilisateurs</h2>
        <div id="alert" class="alert d-none"></div>
        <input id="id_user_center" type="hidden" value="<?= $user_center_id ?>"/>
        <form method="post" action="user_upload" method="POST" enctype="multipart/form-data">
            <select class="select" id="center"></select>
            <select class="select" id="formation"></select>
            <button  id="showAdd" class="btn">+</button>
            <div id="addForm" class="u_managment">
                <input class="form__field" type="text" name="newFormationTag" id="tagFormation" placeholder="Tag"/>
                <input class="form__field" type="text" name="newFormationName" id="nameFormation" placeholder="Nom"/>
                <button class="btn" id="addFormation">Ajouter formation</button>
            </div>
            <input hidden id="upload_file" type="file" name="upload_user" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        </form>
        <div class="drop_file_zone" ondragover="return false">
            <label for="upload_file">
                <div class="upload-zone">
                    <p>Sélectionner ou déposer un fichier</p>
                    <img src="https://img.icons8.com/carbon-copy/100/000000/download.png"/>
                </div>
            </label>
        </div>


        <div class="center" id="upload_confirm"></div>
        <!-- TABLE: End -->
    </main>

    </aside>
{% endblock %}