<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport"
          content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <style>
        /**
        * --------------------------------------------------------------
        * GENERAL
        * --------------------------------------------------------------
        */

        /**
         * Globals
         */
        :root {
            /**
            * Variables
            */

            /* main colors */
            --grey-light: #f8f9fc;
            --purple-light: #4e73df;
            --grey: #5a5c69;

            /* global */
            --container-width: 1000px;
        }

        *{
            box-sizing: border-box;
        }

        body {
            font-size: 16px;
            background-color: var(--grey-light);
            color: var(--grey);
            font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }

        /**
         * Titles
         */
        h1 { font-size: 2rem; }
        h2 { font-size: 1.3rem; margin-bottom: 15px; }
        h3 { font-size: 1rem; margin-bottom: 10px; }
        .title { font-weight: bold; margin-bottom: -15px; padding-bottom: 0; }

        a { color: black; text-decoration: none; }

        /**
        * --------------------------------------------------------------
        * GLOBAL
        * --------------------------------------------------------------
        */
        .flex {
            display: flex;
        }

        .center {
            text-align: center;
        }

        .select {
            position: relative;
            width: 20em;
            height: 2.5em;
            line-height: 3;
            background: var(--purple-light);
            overflow: hidden;
            border-radius: .25em;
            cursor: pointer;
            padding: 0 .5em;
            color: #fff;
            font-size: .875rem;
            margin: 5px;
        }

        .d-none{
            display: none;
        }
        /**
         * Buttons
         */
        .btn {
            color: #fff;
            background-color: var(--purple-light);
            line-height: 1.5;
            border: 1px solid var(--purple-light);
            border-radius: .2rem;
            padding: .25rem .5rem;
            font-size: .875rem;
            transition: .3s;
            cursor: pointer;
        }

        .btn.secondary {
            background-color: var(--grey);
            border: 0;
        }

        .btn:hover {
            background-color: #2653d4;
            border-color: #244ec9;
        }

        /**
         * Input
         */
        input {
            outline: none;
            border: 1px solid transparent;
        }
        input:active, input:focus {
            border: 1px solid var(--purple-light);
            outline: none;
        }

        input:disabled {
            pointer-events: auto;
            opacity: 0.5;
            cursor: not-allowed;
        }

        /**
         * Alert
         */
        .alert {
            position: relative;
            padding: 1rem 1rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }

        .alert-warning {
            color: #664d03;
            background-color: #fff3cd;
            border-color: #ffecb5;
        }

        .alert-danger {
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
        }

        .alert-success {
            color: #0f5132;
            background-color: #d1e7dd;
            border-color: #badbcc;
        }
    </style>

    {% block content %}

    {% endblock %}
</body>
</html>